<!---
I hereby attest to the truth of the following facts:
1. I have not discussed the HTML, CSS, Python language code in my program with anyone other than my instructor or the teaching assistants assigned to this course.
2. I have not used HTML, CSS, Python language code obtained from another student, or any other unauthorized source, either modified or unmodified.
3. If any HTML, CSS, Python language code or documentation used in my program was obtained from another source, such as textbook or course notes, that has been clearly noted with a proper citation in the comments of my program.
-->


{% extends 'payroll_app/base.html' %}
{% load static %}

{% block content %}

<div class="col-md-8 overflow-auto">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="card overflow-auto">
        <div class="card-header">
            <div class="row">
                <div class="col-12 col-md-8">
                    <h4 class="card-title"> Employees</h5>
                </div>
                <div class="col-6 col-md-4">
                    <a href="{% url 'create_employee' %}" class="btn btn-secondary bi bi-plus">New Employee</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="scrollable">
            <table class="table table-striped">
                <thead>
                    <th scope="col">Name</th>
                    <th scope="col">ID Number</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Allowance</th>
                    <th scope="col">Overtime</th>
                    <th scope="col">Options</th>
                </thead>
                <tbody>
                    {% for employee in employees reversed %}
                        <tr> 
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.id_number }}</td>
                            <td>{{ employee.rate }}</td>
                            <td>{{ employee.allowance }}</td>
                            <td>{{ employee.overtime_pay }}</td>
                            <td><a href="{% url 'update_employee' pk=employee.pk %}" class="btn btn-primary">Update</a>
                                <a href="{% url 'delete_employee' pk=employee.pk %}" class="btn btn-danger">Delete</a>
                                <form method="POST" action="{% url 'add_overtime' pk=employee.pk %}">{% csrf_token %}
                                <input type="number" class="form-control" id="OvertimeHours" name="OvertimeHours" min="0" step="any" placeholder="Overtime hours" required>
                                <button type="submit" class="btn btn-success">Add Overtime</button>
                                </form> 
                            </td>
                        </tr>    
                    {% endfor %}
                </tbody>
            </div>
            </table>
        </div>
    </div>
</div>

{% endblock %}